Repository callstackincubator/react-native-node-api, pull requests merged in 2025-07, with the labels that each got.

#158 Derive tag on fork from .hermesversion in "react-native"
  .changeset/upset-paws-follow.md
  packages/host/src/node/cli/hermes.ts
Labels: enhancement, Apple 🍎, Android 🤖, Host 🏡

#172 React Native v0.79.5 (v0.79.4 & v0.79.3)
  .changeset/ten-parts-check.md
  apps/test-app/package.json
  package-lock.json
  package.json
  packages/host/package.json
Labels: Apple 🍎, Android 🤖, Host 🏡

#178 Filter `node_modules` from package roots
  .changeset/three-pugs-relate.md
  package-lock.json
  packages/host/src/node/cli/link-modules.ts
  packages/host/src/node/cli/program.ts
  packages/host/src/node/path-utils.test.ts
  packages/host/src/node/path-utils.ts
Labels: bug, Apple 🍎, Android 🤖

#143 Assert logs and run test suites conditionally
  .github/workflows/check.yml
  apps/test-app/App.tsx
  apps/test-app/package.json
  apps/test-app/tsconfig.json
  apps/test-app/tsconfig.node-scripts.json
  package-lock.json
  packages/ferric-example/package.json
  packages/node-addon-examples/index.js
  packages/node-addon-examples/package.json
  packages/node-addon-examples/scripts/cmake-projects.mts
  packages/node-addon-examples/src/index.ts
  packages/node-addon-examples/tsconfig.json
  packages/node-addon-examples/tsconfig.node-scripts.json
  packages/node-addon-examples/tsconfig.tests.json
  tsconfig.json
Labels: CI, Apple 🍎, Android 🤖

#193 Implementation of `napi_fatal_error` and `napi_get*_version` functions
  .changeset/kind-forks-talk.md
  packages/host/cpp/Logger.cpp
  packages/host/cpp/Logger.hpp
  packages/host/cpp/RuntimeNodeApi.cpp
  packages/host/cpp/RuntimeNodeApi.hpp
  packages/host/cpp/Versions.hpp
  packages/host/scripts/generate-weak-node-api-injector.ts
Labels: Apple 🍎, Android 🤖

#197 chore: @node-rs/cli upgrade 3.0 final
  .changeset/strong-eggs-yell.md
  package-lock.json
  packages/ferric-example/Cargo.toml
  packages/ferric/package.json
Labels: Apple 🍎, Android 🤖, Ferric 🦀
